.tech-button-img{
    height: 20px;
    width: 20px;
    padding-right: 10px ;
}
.tech-button-arrow-1{
    height: 20px;
    width: 20px;
    padding-left: 120px;
    
}
.tech-button-arrow-2{
    height: 20px;
    width: 20px;
    padding-left: 138px;
    
}
.tech-button-arrow-3{
    height: 20px;
    width: 20px;
    padding-left: 23px;
    
}
.tech-button-arrow-4{
    height: 20px;
    width: 20px;
    padding-left: 136px;
    
}
.tech-button-arrow-5{
    height: 20px;
    width: 20px;
    padding-left: 46px;
    
}
.tech-button-arrow-6{
    height: 20px;
    width: 20px;
    padding-left: 136px;
    
}
.tech-button-arrow-7{
    height: 20px;
    width: 20px;
    padding-left: 131px;
    
}
.tech-button-arrow-8{
    height: 20px;
    width: 20px;
    padding-left: 164px;
    
}
.tech-button-arrow-9{
    height: 20px;
    width: 20px;
    padding-left: 77px;
    
}
.tech-button-arrow-10{
    height: 20px;
    width: 20px;
    padding-left: 95px;
    
}
.tech-button-arrow-11{
    height: 20px;
    width: 20px;
    padding-left: 156px;
    
}
.tech-button-arrow-12{
    height: 20px;
    width: 20px;
    padding-left: 73px;
    
}
.tech-button-arrow-13{
    height: 20px;
    width: 20px;
    padding-left: 26px;
    
}