html{
    scrollbar-width: normal;
    font-size: 20px;
}
:root{
    --color:#B00E05;
    --color1:rgba(245, 246, 250,1.0);
    --color2:rgba(0, 0, 0,0.9);
    --overlay:rgba(0, 0, 0,0.4);
    
}
body{
    margin: 0 auto;
    padding: 0;
}
header{
    margin: 0 auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}




/*-----header-----*/

.conteiner{
    min-height: 100vh;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.170rem inset;
    border-bottom-color: rgba(83, 85, 83,0.4);
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.098),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.141),
    0px 12.5px 10px rgba(0, 0, 0, 0.175),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.209),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.252),
    0px 100px 80px rgba(0, 0, 0, 0.35)
    ;
    
    
}
.header-bar{
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    line-height: 60px;
    width: 100%;
    padding-left: 20px ;
    background: var(--color2);
    border: none;
    top:0;
    left:0;
    z-index: 3;
}
.w3-teal{
    width: 125px;
    height: 90px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem ;
    font-family: 'Bruno Ace SC', cursive;
    color: var(--color1);
    padding: 5px 25px ;
    height: 80px;
    width: 80px;
}
.div-main-logo {
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;   
}

.div-aboutcompany{
    position: relative;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    
}
.btn1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: var(--color1);
    background-color: var(--overlay);
    border-color: var(--color1);
    border:1px solid;
    cursor: pointer;
    
}
.btn1:hover{
    transition: 1s ease;
    color: var(--color2);
    background-color: var(--color1);
    border-radius: 15px;
}

.singin{
    color: var(--color1);
    background: none;
    border: none;
    cursor: pointer;
}

.login{
    color: var(--color1);
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    min-width: 300px;
    padding: 40px;
    top: 110px;
    left: 0;
    background-color:var(--color1) ;
    border-right:2px solid var(--color2);
    z-index: 2;
}

.div-center{
    position: absolute;
    min-height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
    border: 0.170rem inset;
    border-color: rgba(0, 0, 0, 0);
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.098),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.141),
    0px 12.5px 10px rgba(0, 0, 0, 0.175),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.209),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.252),
    0px 100px 80px rgba(0, 0, 0, 0%);
    z-index: 2;
}

.name-company{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 200px 50px;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color:var(--color1);
    cursor: pointer;
    margin: 0 auto;
    z-index: 1;
}

.div-menu-search-center{
    padding: 10px 85px 14px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-menu {
    float: left;
    overflow: hidden;
  }
  
.div-menu .button-menu { 
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    padding: 2px;
    min-width: 160px;
    z-index: 2;
}
  
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
}

  
.div-menu:hover .dropdown-content {
    display: block;
}


.menu{
    cursor: pointer;
    background: none;
    width: 90px;
    
}

.tech-button{
    font-size: 0.87rem;
    padding : 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.tech-column{
    font-size: 20px;
    padding: 2px;
    width: 350px;
    height: 100%;
    display: flex;
    flex-flow: column; 
    background-color:var(--color2);
}

.tech-img{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.tech-button-img{
    height: 23px;
    width: 23px;
    padding-right: 9px ;
}

.div-arrow-img{
    display: flex;
    align-items: center;
    
}

.tech-button-arrow{
    width: 20px;
    height: 20px;   
}

.search-bar{
    position: relative;
    width: 650px;
    margin: 0 auto;
    padding: 5px 10px 5px 20px;
    background-color:var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style:groove;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    z-index: 1;
      
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 15px 0px;
}

.img-search-icon{
    height: 20px;
    width: 20px;
}

.button-search{
    border: none;
    background: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
   
}
.button-search:hover{
    background-color: rgba(212, 204, 204, 0.24);
    cursor: pointer;
}

.video-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -2;
  
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0 ;
    background-color:var(--overlay) ;
    object-fit: cover;
    z-index: -1;
}


/*-----main-----*/

main{
    height: 100%;
    width: fit-content ;
    margin: 0 auto;
    border:solid 0.100rem;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    background-position-x:right;
    background-size: cover;
}


/*-----section1-----*/

.main-section-1{
    height: 85px;
    position:relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-top: 10px;
    border-top-style: double;
    border-top-width: 10px;
    border-color: rgba(51,4,2,1);
    border-bottom: 10px;
    border-bottom-style: ridge;
    background-color: white;
}

.btn2{
    position: relative;
    background: none;
    color:  black;
    min-height: 1.5rem;
    width: 5rem;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;   
}
.btn2::after{
    content: '';
    position: absolute;
    width: 100%;
    min-height: 0.175rem;
    background: var(--color);
    left: 0;
    bottom: 0;
}
.other-buttons::after {
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: 0.5s ease;
}
.other-buttons:hover::after{
    transform: scale(1,1);
}


/*-----section2-----*/

.main-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.xkom-img{
    border-radius: 15px;
}


/*-----section3-----*/

.hr-space{
    padding-left: 10px;
    padding-right: 10px;
}
.hr-promotion{
    padding: 0.5px;
    background-color: rgb(163, 148, 148);
    border: 10px;
}

.promotion-flex-spacebetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.h2-promotion{
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 600px;
    font-family: 'Mukta', sans-serif;;
    font-size: 1.8rem;
}

.btn-show-all{
    position: relative;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    border: 0;
    border-bottom:solid 0.100rem;
    cursor: pointer;
}

.btn-show-all::after{
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: rgba(34, 46, 139, 0.5);
}
.promotion-show-all::after{
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: 0.8s ease;
}

.promotion-show-all:hover::after{
    transform: scale(1,1);
}

.promotion-items{
    display: flex;
    justify-content: center;    
}

.promotion-text{
    max-height: 300px;
    max-width: 300px;
    padding-right: 100px;
}

#timer-design{
    width: 500px;
    height: 600px;
    border:solid 0.225rem var(--color2);
    border-radius: 10px;
    
}

.sale-img{
    position: absolute;
    width: 500px;
    height: 500px;
    
}

.text-promotion-end{
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    padding: 470px 0 0 0;
    color: var(--color1) ;
    background-color:#050A30;
}

#timer{
    font-size: 3.0rem;
    font-weight: lighter;
    text-align: center;
    background-color:#050A30;
    color: var(--color1);
}

.promotion-div{
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
}
.promotion-div> * {
    flex: 1 2 25%;
}

.promotion-button{
    width: 120px;
    height: 300px;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0) ;
    cursor: pointer;
}

.promotion-button:hover{
    border-color: var(--color2);
}

.promotion-img{
    width: 170px;
    height: 160px;
}

.promotion-font{
    margin: 10px;
    
}




/*-----section3-----*/

.recommend-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-recommend{
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 100px;
    font-family: 'Mukta', sans-serif;;
    font-size: 1.7rem;
}

.recomend-bestseller-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-bottom: 100px;
    margin-right: 10px;
    clip-path: inset(0);
    cursor: pointer;
}

.bestseller-img:hover{
    transform: scale(1.1);
    transition: ease-out 1s;       
}

.recommend-ourchoice-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-bottom: 100px;
    margin-right: 10px;
    clip-path: inset(0);
    cursor: pointer;
}

.ourchoice-img:hover{
    transform: scale(1.1);
    transition: ease-out 1s;
}

.recommend-newgames-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-bottom: 100px;
    clip-path: inset(0);
    cursor: pointer;
}

.newgames-img:hover{
    transform: scale(1.1);
    transition: ease-out 1s;
}



/*-----footer-----*/

.footer{
    position: relative;
    width: auto;
    min-height: 75vh;
    margin-top: 0.010rem;
    float:inline-end;
    overflow-x:hidden;
    border: solid 0.100rem;
    background-color: var(--color2);
    background-size: cover;
}













   






  
  
  
  
  
  






