html{
    scrollbar-width: normal;
    
}
body{
    margin: 0;
    padding: 0;
}
.conteiner{
    position: relative;
    background-image: linear-gradient(rgb(105, 3, 3),rgba(0, 0, 0, 0.6)), url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
main{
    height: 200vh;
    width: fit-content ;
    margin: 0 auto;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    background-position-x:right;
    background-size: cover;
}

header{
    height: 125px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 290px 10px 10px;
    border-bottom: 0.170rem inset;
    border-bottom-color: rgba(83, 85, 83,0.4);
    margin: 0 auto;
    
}

.header-logo{
    width: 350px;
    padding: 14px 25px 14px 8px;;
    font-size: 40px;
    font-family: system-ui, -apple-system, sans-serif;
    cursor: pointer;
    margin: 0 ;
    
}

.search-bar{
    width: 650px;
    padding: 5px 10px 5px 20px;
    background-color:rgba(138, 6, 6);
    display: flex;
    align-items: center;
    border-width: 2px;
    border-style:groove;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    
    
    
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 15px 0px;
}

.img-search-icon{
    height: 20px;
    width: 20px;
}

.button-search{
    border: 0;
    border-radius: 50%;
    height: 60px;
    width: 60px;
   
}

.button-search:hover{
    background-color: rgba(212, 204, 204, 0.24);
    cursor: pointer;
} 

.btn{
    position: relative;
    background: none;
    color:  black;
    height: 2.5rem;
    width: 5rem;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 1.1rem;
    border: none;
    outline: none;   
}

.btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background: red;
    left: 0;
    bottom: 0;
}
.other-buttons::after {
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: 0.5s ease;
}
.other-buttons:hover::after{
    transform: scale(1,1);
}








   






  
  
  
  
  
  






